/*!
  Description: Pattern background
  Author: HarryHeywood04
  Date: Jan 30, 2024
  Available at: https://uiverse.io/HarryHeywood04/ugly-squid-22
  License: MIT
*/
.background {
  inset: 0;
  position: fixed;
  z-index: -1;
  background: {
    color: oklch(17.76% 0 0deg);
    image: linear-gradient(32deg, oklch(13.44% 0 0deg / 74%) 30px, transparent);
    position: -5px -5px;
    size: 3.75rem 3.75rem;
  }

  &::before {
    background-image: radial-gradient(circle, oklch(14.5% 0 0deg) 0%, transparent 150%);
    content: '';
    inset: 0;
    pointer-events: none;
    position: fixed;
  }
}
