@use '../abstracts/mixins' as *;

.hero-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  justify-content: center;
  padding-inline: 1rem;
  position: relative;
  text-align: center;

  > .greeting {
    @include respond-to('md') {
      font-size: 4rem;
    }
  }

  > .summary {
    font-weight: 500;
    max-width: 48rem;

    @include respond-to('md') {
      font-size: 1.25rem;
    }
  }
}
