@use '../abstracts/mixins' as *;

.hero-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  justify-content: center;
  padding-inline: 1.5rem;
  position: relative;
  text-align: center;

  > .summary {
    font-weight: 500;
    max-width: 48rem;
  }

  @include respond-to('md') {
    & > .greeting {
      font-size: 3rem;
    }

    & > .summary {
      font-size: 1.125rem;
    }
  }

  @include respond-to('lg') {
    & > .greeting {
      font-size: 4rem;
    }

    & > .summary {
      font-size: 1.25rem;
    }
  }
}
