@use '../abstracts/mixins' as *;

.hero-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  justify-content: center;
  padding-inline: 1.5rem;
  position: relative;
  text-align: center;

  > .summary {
    font-weight: 500;
    max-width: 48rem;
  }

  > .available {
    align-items: center;
    display: inline-flex;
    gap: 1rem;
  }

  > .available > .indicator {
    display: flex;
    position: relative;
  }

  > .available > .indicator > .ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    background-color: oklch(76.5% 0.177 163.223deg);
    border-radius: calc(infinity * 1px);
    height: 100%;
    opacity: 0.75;
    position: absolute;
    width: 100%;
  }

  > .available > .indicator > .dot {
    background-color: oklch(69.6% 0.17 162.48deg);
    border-radius: calc(infinity * 1px);
    height: 0.75rem;
    width: 0.75rem;
  }

  @keyframes ping {
    75%,
    100% {
      opacity: 0;
      transform: scale(2);
    }
  }

  @include respond-to('md') {
    & > .greeting {
      font-size: 3rem;
    }

    & > .summary {
      font-size: 1.125rem;
    }
  }

  @include respond-to('lg') {
    & > .greeting {
      font-size: 4rem;
    }

    & > .summary {
      font-size: 1.25rem;
    }
  }
}
