@use '../abstracts/mixins' as *;

.nav-bar {
  backdrop-filter: blur(10px);
  background-color: oklch(0% 0 0deg / 80%);
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  position: fixed;
  right: 0;
  z-index: 1000;
  border: {
    color: oklch(26.9% 0 0deg);
    radius: 1rem 1rem 0 0;
    style: solid;
    width: 1px;
  }

  > .navmenu {
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
    width: 100%;
  }

  > .navmenu > li > .navlink {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    outline: none;
    padding: 0.5rem 1rem;
    position: relative;
    font: {
      size: 0.75rem;
      weight: 500;
    }
    transition: {
      duration: 200ms, 300ms;
      property: box-shadow, color;
      timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.-active {
      color: oklch(69.6% 0.17 162.48deg);
    }

    &.-active::before {
      width: 80%;
    }

    &:focus-visible {
      box-shadow: 0 0 0 3px oklch(50.8% 0.118 165.612deg);
    }
  }

  > .navmenu > li > .navlink > .text {
    text-transform: capitalize;
  }

  @include respond-to('sm') {
    border-radius: unset;
    bottom: auto;
    top: 0;

    & > .navmenu {
      gap: 4rem;
      justify-content: center;
    }

    & > .navmenu > li > .navlink {
      font-size: inherit;

      &::before {
        background-color: oklch(69.6% 0.17 162.48deg);
        bottom: 0;
        content: '';
        height: 0.125rem;
        position: absolute;
        transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 0;
      }
    }

    & > .navmenu > li > .navlink > .icon {
      display: none;
    }
  }
}
