/*!
  Description: Pattern background
  Author: HarryHeywood04
  Date: Jan 30, 2024
  Available at: https://uiverse.io/HarryHeywood04/ugly-squid-22
  License: MIT
*/
.background {
  inset: 0;
  position: fixed;
  background: {
    color: #111;
    image: linear-gradient(32deg, rgb(8 8 8 / 74%) 30px, transparent);
    position: -5px -5px;
    size: 60px 60px;
  }
}
