@use '../utilities/mixins' as *;

/*!
  Description: Pattern background
  Author: HarryHeywood04
  Date: Jan 30, 2024
  Available at: https://uiverse.io/HarryHeywood04/ugly-squid-22
  License: MIT
*/
.background {
  @include position('fixed');
  inset: 0;
  background: {
    color: #111;
    image: linear-gradient(32deg, rgba(8, 8, 8, 0.74) 30px, transparent);
    size: 60px 60px;
    position: -5px -5px;
  }
}
