---
import ProjectCard from './ProjectCard.astro'
---

<section class="projects-section" id="projects">
  <h2 class="heading">Projects</h2>
  <ProjectCard />
  <ProjectCard />
  <ProjectCard />
  <ProjectCard />
</section>
