{
  "$schema": "https://www.schemastore.org/prettierrc.json",
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-astro-organize-imports",
    "@xeonlink/prettier-plugin-organize-attributes"
  ],
  "attributeGroups": ["^class$", "^(id|name)$", "^(width|height)$", "$DEFAULT", "^aria-"],
  "attributeSort": "ASC",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
