---
import Background from '../components/Background.astro'
import Contact from '../components/Contact.astro'
import Hero from '../components/Hero.astro'
import Navbar from '../components/navbar/Navbar.astro'
import Projects from '../components/projects/Projects.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <Background />
  <Navbar />
  <main>
    <Hero />
    <Projects />
    <Contact />
  </main>
</Layout>
