---
interface Props {
  url: string
  ariaLabel: string
  iconName: string
  isMailto?: boolean
}

const { url, ariaLabel, iconName, isMailto = false } = Astro.props
---

<a
  class="btn"
  href={url}
  rel={isMailto ? undefined : 'noopener noreferrer'}
  target={isMailto ? undefined : '_blank'}
  aria-label={ariaLabel}
>
  <svg
    class={`lucide lucide-${iconName}-icon lucide-${iconName}`}
    height="24"
    width="24"
    fill="none"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <slot />
  </svg>
</a>
