---
interface Props {
  url: string
  ariaLabel: string
  iconName: string
  isMailto?: boolean
}

const { url, ariaLabel, iconName, isMailto = false } = Astro.props
---

<a
  href={url}
  aria-label={ariaLabel}
  class="btn"
  target={isMailto ? undefined : '_blank'}
  rel={isMailto ? undefined : 'noopener noreferrer'}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class={`lucide lucide-${iconName}-icon lucide-${iconName}`}
  >
    <slot />
  </svg>
</a>
