---
import NavItem from './NavItem.astro'
---

<header>
  <nav class="nav-bar">
    <ul class="navmenu">
      <NavItem identifier="home">
        <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
        <path
          d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
        ></path>
      </NavItem>
      <NavItem identifier="projects">
        <path
          d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"
        ></path>
      </NavItem>
      <NavItem identifier="contact">
        <path d="M16 2v2"></path>
        <path d="M7 22v-2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2"></path>
        <path d="M8 2v2"></path>
        <circle cx="12" cy="11" r="3"></circle>
        <rect height="18" width="18" rx="2" x="3" y="4"></rect>
      </NavItem>
    </ul>
  </nav>
</header>
