---
interface Props {
  identifier: string
  iconName: string
}

const { identifier, iconName } = Astro.props
---

<li>
  <a class="navlink" href={`#${identifier}`}>
    <span class="icon">
      <svg
        class={`lucide lucide-${iconName}-icon lucide-${iconName}`}
        height="24"
        width="24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <slot />
      </svg>
    </span>
    <span class="text">{identifier}</span>
  </a>
</li>
