<email-copy-button>
  <button class="btn -mail" type="button" aria-label="Copy email address to clipboard">
    <svg
      height="24"
      width="24"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
      <rect height="16" width="20" rx="2" x="2" y="4"></rect>
    </svg>
  </button>
  <div class="tooltip" role="tooltip">Copy email</div>
</email-copy-button>

<script>
  class EmailCopyButton extends HTMLElement {
    connectedCallback() {
      const user = 'azcuetajjmt'
      const domain = 'gmail'
      const tld = 'com'

      /**
       * Constructs the email address by concatenating the user, domain, and top-level domain (TLD).
       */
      const getEmail = () => `${user}@${domain}.${tld}`

      const emailCopyButton = this.querySelector('button')

      /**
       * Copies the email address to the clipboard.
       */
      async function copyEmail() {
        const email = getEmail()

        try {
          console.log('Email address copied!')
          await navigator.clipboard.writeText(email)
        } catch (error) {
          console.error('Failed to copy email address: ', error)
        }
      }

      if (emailCopyButton instanceof HTMLButtonElement) {
        emailCopyButton.addEventListener('click', copyEmail)
      }
    }
  }

  customElements.define('email-copy-button', EmailCopyButton)
</script>
