---
import Socials from './socials/Socials.astro'
---

<footer class="footer">
  <div class="stack">
    <span>Built with Astro</span>
    <span>Styled with SCSS</span>
    <span>Deployed on Cloudflare Pages</span>
  </div>
  <Socials />
</footer>
