---
import Socials from './socials/Socials.astro'
---

<section class="hero-section" id="home">
  <h1 class="greeting">Hi, I'm Michael Azcueta</h1>
  <p class="summary">
    I build things for the web. A lifelong learner dedicated to crafting seamless user experiences
    and robust backend systems.
  </p>
  <Socials />
</section>
