---
interface Props {
  ariaLabel: string
  isMailto?: boolean
  url: string
  variant: 'linkedin' | 'github' | 'gmail'
  viewBox?: string
}

const { ariaLabel, isMailto = false, url, variant, viewBox = '0 0 16 16' } = Astro.props
---

<a
  class={`btn -${variant}`}
  href={url}
  rel={isMailto ? undefined : 'noopener noreferrer'}
  target={isMailto ? undefined : '_blank'}
  aria-label={ariaLabel}
>
  <svg
    height="24"
    width="24"
    fill="currentColor"
    viewBox={viewBox}
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
  >
    <slot />
  </svg>
</a>
