---
import '../styles/main.scss'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Michael Azcueta - Web Developer</title>
    <meta
      name="description"
      content="I'm a web developer dedicated to crafting seamless user experiences and robust backend systems. Available for new opportunities."
    />
    <meta name="generator" content={Astro.generator} />
    <link href="https://challenges.cloudflare.com" rel="preconnect" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/site.webmanifest" rel="manifest" />
  </head>
  <body>
    <slot />
  </body>
</html>
